In [ ]:
# QUESTION 01

Number = int(input("Please Enter any Number: "))
Reverse = 0.
while(Number > 0):
  Reminder = Number %10
  Reverse = (Reverse *10) + Reminder
  Number = Number //10
print("Reverse of entered number is" , int(Reverse))

Please Enter any Number: 23
Reverse of entered number is 32

In [ ]:
# QUESTION 02

a= list()
b = input("Enter any Number: ")
for i in b:
  a.append(i)

c = list()
for j in range(len(a)):
  c.append(int(a[j]))

d = list()
for k in range(len(c)):
  d.append(c[k]**3)

if(sum(d) == int(b)):
  print(b, "is an Armstrong Number")
else:
  print(b, "is not an Armstrong Number")

Enter any Number: 24
24 is not an Armstrong Number

In [ ]:
# QUESTION 03

number = int(input("please give a number: "))
for i in range(2, number//2):
    if number %i == 0:
        temp=1
        break
        
if temp == 1:
    print(number ,"is not prime number")
else:
    print(number, "is prime number")

please give a number: 24
24 is not prime number

In [ ]:
# QUESTION 04

first,second=0,1
n = int(input("please give a number for fibonacci series : "))
print("fibonacci series are : ")
for i in range(0,n):
    if i<=1:
        result=i
    else:
      result = first + second;
      first = second;
      second = result;
    print(result)

please give a number for fibonacci series : 24
fibonacci series are :
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657

In [ ]:
# QUESTION 05

number = int(input("Enter a number: "))
reverse,temp = 0, number
while temp!= 0:
  reverse = reverse*10 + temp%10
  temp=temp//10

if reverse==number:
    print("number is palindrom")
else:
    print("number is not palindrom")

Enter a number: 24
number is not palindrom

In [ ]:
# QUESTION 06

fn = int(input("Enter any number: "))
mn = int(input("Enter any number: "))
ln = int(input("Enter any number: "))

if fn > mn and fn > ln:
  print(fn, "is greater among", mn ,"and",ln) 

if mn > fn and mn > ln:
  print(mn, "is greater among", fn ,"and",ln) 
  
if ln > mn and ln > fn:
  print(ln, "is greater among", fn ,"and",mn)

Enter any number: 2
Enter any number: 4
Enter any number: 24
24 is greater among 2 and 4

In [ ]:
# QUESTION 07

number = input("Enter any number:")

p = set(number)

s = {'1','0'}

if s == p or p == {'0'} or p == {'1'}:
  print("Your given number is binary.")

else:
  print("Your given number is not binary.")

Enter any number:24
Your given number is not binary.

In [ ]:
# QUESTION 08

numbers = int(input("Enter quantity of numbers: "))
lst = list()


for i in range(0, numbers):
  elements = int(input())
  lst.append(elements)
print("\nThe Average of your given numbers are: ",sum(lst))

Enter quantity of numbers: 3
24
22
20

The Average of your given numbers are:  66

In [ ]:
# QUESTION 09

x = input("Enter value of x: ")
y = input("Enter value of y: ")

print("\nBefore Swapping")
print("Value of x:", x , "and" , "y:", y)

x , y = y , x

print("\nAfter Swapping")
print("Value of x:", x , "and" , "y:", y)

Enter value of x: 2
Enter value of y: 4

Before Swapping
Value of x: 2 and y: 4

After Swapping
Value of x: 4 and y: 2

In [ ]:
# QUESTION 10

x = input("Enter value of x: ")
y = input("Enter value of y: ")

print("\nBefore Swapping")
print("Value of x:", x , "and" , "y:", y)

temp = x
x = y
y = temp


print("\nAfter Swapping")
print("Value of x:", x , "and" , "y:", temp)

Enter value of x: 24
Enter value of y: 21

Before Swapping
Value of x: 24 and y: 21

After Swapping
Value of x: 21 and y: 24

In [ ]:
# QUESTION 11

numbers = int(input("Enter quantity of numbers: "))
lst = list()


for i in range(0, numbers):
  elements = int(input())
  lst.append(elements)
print("\nThe Average of your given numbers are: ",sum(lst) / int(numbers))

Enter quantity of numbers: 3
12
13
11

The Average of your given numbers are:  12.0

In [ ]:
# QUESTION 12

number = int(input("Enter a number: "))

factorial = 1

if number < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif number == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,number + 1):
       factorial = factorial*i
   print("The factorial of",number,"is",factorial)

Enter a number: 24
The factorial of 24 is 620448401733239439360000

In [ ]:
# QUESTION 13

number = int(input("Enter a number: "))

factorial = 1

if number < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif number == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,number + 1):
       factorial = factorial*i
   print("The factorial of",number,"is",factorial)

In [ ]:
# QUESTION 14

user_input = int(input("Enter a number to check even or odd: "))

if(user_input %2 == 0):
  print(user_input, "is a even number.")

elif(user_input %2 != 0):
  print(user_input, "is a odd number.")
else:
  print("Please, Enter Correct Value.")

In [ ]:
# QUESTION 15


numr=int(input("Enter range of prime numbers: "))

print("Prime numbers:",end=' ')

for n in range(1,numr):
    for i in range(2,n):
        if(n%i==0):
            break
    else:
        print(n,end=' ')

Enter range of prime numbers: 4
Prime numbers: 1 2 3

In [ ]:
# QUESTION 16

lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
  
print ("The Prime Numbers in the range are: ") 
for number in range (lower_value, upper_value + 1):  
    if number > 1:
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

Please, Enter the Lowest Range Value: 3
Please, Enter the Upper Range Value: 5
The Prime Numbers in the range are:
3
5

In [ ]:
# QUESTION 17

fn = int(input("Enter any number: "))
mn = int(input("Enter any number: "))
ln = int(input("Enter any number: "))

if fn < mn and fn < ln:
  print(fn, "is smallest among", mn ,"and",ln) 

if mn < fn and mn < ln:
  print(mn, "is smallest among", fn ,"and",ln) 
  
if ln < mn and ln < fn:
  print(ln, "is smallest among", fn ,"and",mn)

Enter any number: 2
Enter any number: 4
Enter any number: 24
2 is smallest among 4 and 24

In [ ]:
# QUESTION 18

import math

base = int(input("Enter the value for base: "))
exponent = int(input("Enter the value for exponent: "))
print(base ,"to power" , exponent , "is" ,pow(base,exponent))

Enter the value for base: 4
Enter the value for exponent: 2
4 to power 2 is 16

In [ ]:
# QUESTION 19

import math 

number = int(input("Enter the value for base: "))

print("Square to" , number , "is" , pow(number,2))

Enter the value for base: 5
Square to 5 is 25

In [ ]:
# QUESTION 20

import math 

number = int(input("Enter the value for base: "))

print("Cube to" , number , "is" , pow(number,3))

Enter the value for base: 4
Cube to 4 is 64

In [ ]:
# QUESTION 21

import math 

number = int(input("Enter the value for base: "))

print("Square root to" , number , "is" , int(math.sqrt(number)))

Enter the value for base: 4
Square root to 4 is 2

In [ ]:
# QUESTION 22

def decimalToBinary(n):
    return bin(n).replace("0b", "")

number = int(input("Enter decimal number: "))

print("Binary to", number , "is", decimalToBinary(number))

Enter decimal number: 10
Binary to 10 is 1010

In [ ]:
# QUESTION 23

number = int(input("Enter decimal number: "))

print("Octal to", number , "is", oct(number))

Enter decimal number: 10
Octal to 10 is 0o12

In [ ]:
# QUESTION 24

year = int(input("Enter a year: "))

if((year % 400 == 0) or (year % 100 != 0) and  (year % 4 == 0)):   
    print("Year", year ,"is a leap Year");  
  # Else it is not a leap year  
else:  
    print ("Year", year ,"is not a leap Year")

Enter a year: 2016
Year 2016 is a leap Year

In [ ]:
# QUESTION 25

temp = float(input("Enter temperature value in celcius: "))

fahrenheit = (temp * 1.8) + 32

print(temp, "celcius is equivalent to", fahrenheit, "fahrenheit.")

Enter temperature value in celcius: 38
38.0 celcius is equivalent to 100.4 fahrenheit.

In [ ]:
# QUESTION 26

temp = float(input("Enter temperature value in fahrenheit: "))

celsius = (temp - 32) * 5/9

print(temp, "fahrenheit is equivalent to", celsius, "celsius.")

Enter temperature value in fahrenheit: 100
100.0 fahrenheit is equivalent to 37.77777777777778 celsius.