<a href="https://colab.research.google.com/github/MuhammadInamElahi/Embedded/blob/main/IOT_LAB_TEST_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# QUESTION 01
a = []
b = int(input("Enter Total Numbers =  "))
for i in range(b):
    c = int(input("Enter Number = "))
    a.append(c)
print("Original List =",a)
for j in a:
  if j %2 !=0:
    print("Odd Number = ",j)

Enter Total Numbers =  5
Enter Number = 12
Enter Number = 13
Enter Number = 19
Enter Number = 65
Enter Number = 53
Original List = [12, 13, 19, 65, 53]
Odd Number =  13
Odd Number =  19
Odd Number =  65
Odd Number =  53

In [ ]:
# QUESTION 02
a = []
b = int(input("Enter Total Numbers =  "))
for i in range(b):
    c = int(input("Enter Number = "))
    a.append(c)
print("Sum Of List Element =",sum(a))

Enter Total Numbers =  4
Enter Number = 2
Enter Number = 5
Enter Number = 8
Enter Number = 5
Sum Of List Element = 20

In [ ]:
# QUESTION 03
a = []
b = int(input("Enter Total Numbers =  "))
for i in range(b):
    c = int(input("Enter Number = "))
    a.append(c)
print("Origional List =",a)
print("Reversed List 01 =",a[::-1])
a.reverse()
a
print("Reversed List 02 =",a)

Enter Total Numbers =  4
Enter Number = 22
Enter Number = 31
Enter Number = 45
Enter Number = 88
Origional List = [22, 31, 45, 88]
Reversed List 01 = [88, 45, 31, 22]
Reversed List 02 = [88, 45, 31, 22]

In [22]:
# QUESTION 04
a = [99, 13, 1, 13, 55]
a.sort()
print("Top Most Two Numbers =",a[:-3:-1])

Top Most Two Numbers = [99, 55]

In [25]:
# QUESTION 05
a = [99, 13, 1, 13, 55]
a.sort()
print("Second Highest Number =",a[-2])

Second Highest Number = 55

In [80]:
# QUESTION 06
a = []
b = int(input("Enter Total Numbers =  "))
for i in range(b):
    c = int(input("Enter Number = "))
    a.append(c)
print("Original List =",a) 
a.sort(reverse=True)
print("Sorted List =",a)

Enter Total Numbers =  4
Enter Number = 99
Enter Number = 78
Enter Number = 65
Enter Number = 101
Original List = [99, 78, 65, 101]
Sorted List = [101, 99, 78, 65]

In [54]:
# QUESTION 07
a = input("Enter String = ")
b=""
for i in a:
    if i not in b:
        b = b + i
print("After Removed =",b)

Enter String = Inaam
After Removed = Inam

In [75]:
# QUESTION 08
ch = input("Enter Character = ")
if len(ch)==1:
  if(ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u' or ch == 'A' or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U'):
    print("Given Character is VOWEL i.e:",ch)
  else:
      print("Given Character is CONSONENET i.e:",ch)
else:
  print("Enter Only Single Character !!!")

Enter Character = I
Given Character is VOWEL i.e: I

In [77]:
# QUESTION 09
num=(int(input("Factorial Length = ")))
factorial = 1
if num < 0:
   print("Sorry !!! Enter Positive Numbers Only")
elif num == 0:
   print("Factorial of 0 = 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("Factorial of",num,"=",factorial)

Factorial Length = 4
Factorial of 4 = 24

In [ ]:
# QUESTION 10
a = ['Inam', "Adeel", "Shahzaib"]
b = [18, 20 ,24]
print(a+b)

['Inam', 'Adeel', 'Shahzaib', 18, 20, 24]